* {
  box-sizing: border-box;
}
html{
  font-family: "Lucida Sans", sans-serif;
  background: #e8eced;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #5a6664;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  a{
    display:block;
  }
}
.home_img{
  width:100%;
  height: auto;
}
h1{
  text-align: center;
  padding:14px;
}
.left_img{
  width:100%;
  height:auto;
  opacity: 0.9;
}
/*By seeing one website there was one letter of the sarting paragraph was bigger so i search it online and find it*/
p::first-letter{
  font-size: 200%;
}
@media screen and (max-width: 600px) {
  .games{
    width:100%;
    clear:both;
  }
}
#width{
  background-color: grey;
}
video{
   width:70%;
   height: auto;
  margin: 0 auto;
  display: block;
}
.footerid {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 30px 30px;
  margin: 10px 0px;
}
a{
  text-decoration: none;
  color:white;
  padding:5px 20px;

}
